body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #111111;
  color: #f5f5f5;
  padding: 0px 4rem 0px 4rem;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  height: 4rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.link-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.languages {
  font-weight: 300;
  font-size: 1rem;
}

/* hero section design  */

.wrapper {
  width: 100%; /* or your hero bg */
}

.hero {
  max-width: 1600px;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Full-stack stays on the left */
  font-size: 9rem;
  line-height: 1;
  font-family: "Fira Code", monospace;
}

.title-right {
  align-self: flex-end; /* Developer goes to the right */
  /* optional styling */
}

.para-and-btn {
  position: relative;
  top: -13.5rem;
  left: 0;
  width: 30%;
}

.hero-para {
  font-size: 1.4rem;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #a6a6a6;
}
.hero-para i {
  color: #f5f5f5;
}

.hero-btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  position: relative;
  top: -28rem;
}

.hero-btn {
  height: 4rem;
  width: 18rem;
  border-radius: 50px;
  font-size: 1.5rem;
  background-color: #f5f5f5;
  color: #111111;
  font-style: italic;
}

.round-icon-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 45px;
  width: 170px;
  border-radius: 50px;
  border: 1px solid #5f5e5e;
}

.logo-name {
  font-size: 1rem;
  color: #a6a6a6;
}

.icon-img {
  height: 40px;
  width: 40px;
}

/* inde

/* from here we will qork on splide  */

.slider {
  margin: 0 auto; /* center horizontally */
  padding: 60px 20px; /* 60px top & bottom, 20px sides */
}
/* default slide (inactive) */
.splide__slide {
  height: 330px;
  border-radius: 60px;
  background-color: #5a3535;
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 48px;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.3s;
}

/* active slide */
.splide__slide.is-active {
  background-color: #156241; /* different color for active slide */
  transform: scale(1.05);
}

.slide-para{
  padding: 1rem;
}
.slide-items {
  height: 330px;
  width: 400px;
  background-color: #090404;
  opacity: 0.4;
  /* padding: 1rem 2rem 1rem 2rem; */
}

.slide-item-title{
  font-size: 1.4rem;
  color: #f5f5f5;
}

.slide-item-para{
  font-size: 1rem;
  color: #f5f5f5;
}


.btns{
  display: flex;
  justify-content: start;
  align-content: start;
  gap: 0.5rem;
  padding-left: 1rem;
}
.slide-btn-1{
  height: 42px;
  width: 160px;
  color: #111111;
  background-color: #f5f5f5 ;
  border-radius: 50px;
}
.slide-btn-2{
  height: 42px;
  width: 42px;
  color: #111111;
  background-color: #f5f5f5 ;
  border-radius: 50px;
}